* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #5c5c5c;
}

// #id {
//   min-height: 100%;
// }

body {
  background-color: #fafafa;
}

.super-container {
  display: flex;
  flex-direction: column;
}

.page-container {
  max-width: 1054px;
  margin: 0 auto;
  padding-left: 48px;
  padding-right: 52px;
}

.page-header {
  padding-top: 40px;
  padding-bottom: 30px;

  &__title {
    margin-bottom: 4px;

    color: #222222;
    line-height: 32px;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  &__subtitle {
    color: #222222;
    line-height: 16px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
}

.search-bar {
  position: relative;
  margin-top: 40px;

  &__input-results {
    position: absolute;
    line-height: 45px;
    right: 13px;
  }
  
  &__input-icon {
    width: 14px;
    position: absolute;
    bottom: 15px;
    left: 16px;
  }
  
  &__input {
    width: 100%;
    height: 45px;
    padding-left: 37px;
  
    border-radius: 15px;
    border: 1px solid #ebebeb;
  
    font-weight: 400;
    font-size: 14px;
  
    &:focus {
      outline: none;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    }
  }
}

.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__alert {
    line-height: 70px;
    margin-top: 150px;
    margin-bottom: 37px;

    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
}

.tests-table {
  width: 100%;
}

.tests-table__row {
  display: flex;
  height: 70px;
  &:not(:last-child) {
    margin-bottom: 5px;
  }

  border-radius: 3px;
  
  &-column-labels {
    display: flex;
    margin-bottom: 10px;
  }

  &--classic {
    background: linear-gradient(#c2c2ff, #c2c2ff) no-repeat left/4px 100%;
  }

  &--mvt {
    background: linear-gradient(#e14165, #e14165) no-repeat left/4px 100%;
  }

  &--server-side {
    background: linear-gradient(#8686ff, #8686ff) no-repeat left/4px 100%;
  }

  &:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  }
}

.tests-table__cell {
  line-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tests-table__column {
  &-label-icon {
    margin-left: 8px;
    cursor: pointer;

    &--ascending {
      transform: rotate(180deg)
    }
  }

  &-label-wrapper {
    display: flex;
  }

  &-label-text {
    cursor: pointer;
    color: #777777;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &-status {
    width: 14%;

    font-weight: 500;

    &--online {
      color: #1bda9d
    }

    &--paused {
      color: #ff8346
    }

    &--stopped {
      color: #fe4848
    }
  }

  &-name {
    width: 40%;
    padding-left: 15px;

    font-weight: 500;
    font-size: 13px;
    color: #474747;
  }
  
  &-label-name {
    width: 40%;
    padding-left: 15px;
  }

  &-type,
  &-label-type,
  &-label-status {
    width: 14%;
  }

  &-site,
  &-label-site {
    width: 18%;
  }

  &-link,
  &-label-link {
    width: 14%;
    text-align: right;
    padding-right: 12px;
  }
}

.super-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer__container {
  margin-top: auto;
  padding-bottom: 44px;
}

.back-link {
  text-decoration: none;

  &__icon {
    transform: translateY(1.5px);
  }
  &__text {
    margin-left: 19px;

    color: #222222;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  &:focus {
    border-bottom: 2px solid #222222;
    outline: none;
  }
}

.btn {
  display: inline-block;
  width: 95px;
  height: 30px;

  border: none;
  border-radius: 10px;

  
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    background-color: #ff8346;
    outline: none;
  }

  &--green {
    background-color: #1bda9d;
  }

  &--grey {
    background-color: #7d7d7d;
  }
}